<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/header" %>
 <div class="row" style="
    margin-top: 50px;
">
      <div class="col-xs-6">
       
      </div>

      <div class="col-xs-6 text-right">
        <h1 class="cart-text"><%= render 'layouts/cart_text' %></h1>
      </div>
    </div>
    <hr>
</div>
<div class="row">

<div class="col-xs-4">

 <%= render "categories/show" %>
</div>

<div class="col-xs-8">
  <%= yield %>

</div>
  
  

</div>

</body>
</html>
